@tailwind base;
@tailwind components;
@tailwind utilities;

.splash_img {
  background-image: url(img/komprimeret_splash.webp);
  height: 150vh;
  width: 100%;
  background-size: cover;
  background-position: 25% 0%;
  text-align: start;
}

.portraet_img {
  background-image: url(img/pierre.webp);
  height: 100vh;
  width: 100%;
  /* background-size: cover; */
  background-position: 75% 45%;
}
