@tailwind base;
@tailwind components;
@tailwind utilities;

.splash_img {
  background-image: url(../images/splash_img.webp);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: 25% 0%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  text-align: center;
}
